# yarn berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules

# This directory will be used by PGLite to store the data of PostgreSQL database.
data


*.env
!.env
